# Database Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://your-database-host/your-database-name
SPRING_DATASOURCE_USERNAME=your-database-username
SPRING_DATASOURCE_PASSWORD=your-database-password
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver

# JPA/Hibernate Configuration
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# Application Configuration
SPRING_APPLICATION_NAME=demo-assessment
SERVER_PORT=8085

